.footer {
  padding-bottom: 16px;
  &__top {
    margin-bottom: 32px;
  }
  &__middle {
    margin-bottom: 41px;
    .row:not(:last-child) {
      margin-bottom: 32px;
    }
  }
  &__bottom {
    font-size: 12px;
    .policy {
      margin-bottom: 16px;
    }
  }
  &__info {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }


}