.review {
  &__link {
    display: flex;
    align-items: center;
  }
  &:not(:last-child) {
    margin-bottom: 18px
  }
  &__name {
    width: 80px;
    margin-right: 13px;
    background: left center no-repeat;
    object-fit: cover;
    &.yandex {
      background-image: url(/assets/img/icons/yandex-market.svg);
      height: 18px;
      & + .review__rating {
        background-image: url(/assets/img/icons/rating-4-5.svg);
      }
    }
    &.google {
      background-image: url(/assets/img/icons/google.svg);
      height: 18px;
      & + .review__rating {
        background-image: url(/assets/img/icons/rating-4-5.svg);
      }
    } 
    &.togis {
      background-image: url(/assets/img/icons/togis.svg);
      height: 22px;
      & + .review__rating { 
        background-image: url(/assets/img/icons/rating-4,5-5.svg);
      }
    }
  }
  &__rating  {
    width: 87px;
    height: 16px;
  }

}