footer.footer
  .footer__top
    button.address Магазины
  .footer__middle
    .container
      .row.align-items-start
        .col.site-menu
          p.site-menu__title Как мы работаем
          ul.site-menu__list
            li.site-menu__item
              a.site-menu__link(href='#') О нас
            li.site-menu__item
              a.site-menu__link(href='#') Сборка и доставка
            li.site-menu__item
              a.site-menu__link(href='#') Оплата и возврат
            li.site-menu__item
              a.site-menu__link(href='#') Гарантия
            li.site-menu__item
              a.site-menu__link(href='#') Рассрочка
        .col.site-menu
          p.site-menu__title Как мы работаем
          ul.site-menu__list
            li.site-menu__item
              a.site-menu__link(href='#') О нас
            li.site-menu__item
              a.site-menu__link(href='#') Сборка и доставка
            li.site-menu__item
              a.site-menu__link(href='#') Оплата и возврат
            li.site-menu__item
              a.site-menu__link(href='#') Гарантия
            li.site-menu__item
              a.site-menu__link(href='#') Рассрочка
        .col.site-menu
          p.site-menu__title Как мы работаем
          ul.site-menu__list
            li.site-menu__item
              a.site-menu__link(href='#') О нас
            li.site-menu__item
              a.site-menu__link(href='#') Сборка и доставка
            li.site-menu__item
              a.site-menu__link(href='#') Оплата и возврат
            li.site-menu__item
              a.site-menu__link(href='#') Гарантия
            li.site-menu__item
              a.site-menu__link(href='#') Рассрочка
        .col.site-menu
          p.site-menu__title Как мы работаем
          ul.site-menu__list
            li.site-menu__item
              a.site-menu__link(href='#') О нас
            li.site-menu__item
              a.site-menu__link(href='#') Сборка и доставка
            li.site-menu__item
              a.site-menu__link(href='#') Оплата и возврат
            li.site-menu__item
              a.site-menu__link(href='#') Гарантия
      .row
        .col.socials.site-menu
          p.site-menu__title.socials__title Мы в соцсетях
          ul.socials__list
            li.socials__item
              a.socials__link(href='#')
                img.socials__item(src='' alt='vkontakte')
            li.socials__item
              a.socials__link(href='#')
                img.socials__item(src='' alt='youtube')
            li.socials__item
              a.socials__link(href='#')
                img.socials__item(src='' alt='instagram')
            li.socials__item
              a.socials__link(href='#')
                img.socials__item(src='' alt='facebook')
            li.socials__item
              a.socials__link(href='#')
                img.socials__item(src='' alt='odnoklassniki')
        .col-8.site-menu
          p.site-menu__title Мы принимаем к оплате
          ul.payment
            li.payment__item
              img.payment__icon(src='#' alt='mastercard')
            li.payment__item
              img.payment__icon(src='#' alt='visa')
            li.payment__item
              img.payment__icon(src='#' alt='Мир')
            li.payment__item
              img.payment__icon(src='#' alt='Яндекс деньги')
  .footer__bottom
    .policy
      a.policy__link(href='#') Политика конфиденциальности
    .footer__info
      span.copyright © 2010-2020 Интернет-магазин мебели и товаров для дома.
      span.author Дизайн Asanov.agency