footer.footer.container-layout
  .footer__top
    button.address Магазины
  .footer__middle
    .container
      .row.align-items-start
        .col.site-menu
          .site-menu__title Как мы работаем
          ul.site-menu__list
            li.site-menu__item
              a.site-menu__link(href='#') О нас
            li.site-menu__item
              a.site-menu__link(href='#') Сборка и доставка
            li.site-menu__item
              a.site-menu__link(href='#') Оплата и возврат
            li.site-menu__item
              a.site-menu__link(href='#') Гарантия
            li.site-menu__item
              a.site-menu__link(href='#') Рассрочка
        .col.site-menu
          .site-menu__title Другая информация
          ul.site-menu__list
            li.site-menu__item
              a.site-menu__link(href='#') Блог
            li.site-menu__item
              a.site-menu__link(href='#') Контакты
            li.site-menu__item
              a.site-menu__link(href='#') Социальные сети
            li.site-menu__item
              a.site-menu__link(href='#') Бренды мебели
            li.site-menu__item
              a.site-menu__link(href='#') Карта сайта
        .col.site-menu
          .site-menu__title Сотрудничество
          ul.site-menu__list
            li.site-menu__item
              a.site-menu__link(href='#') Поставщикам
            li.site-menu__item
              a.site-menu__link(href='#') Оптовикам
            li.site-menu__item
              a.site-menu__link(href='#') Франчайзинг
            li.site-menu__item
              a.site-menu__link(href='#') Подписка
        .col.site-menu
          .site-menu__title Отзывы о нас
          ul.site-menu__list
            li.site-menu__item.review
              a.site-menu__link(href='#').review__link
                .review__name.yandex
                .review__rating 
            li.site-menu__item.review
              a.site-menu__link(href='#').review__link
                .review__name.google
                .review__rating 
            li.site-menu__item.review
              a.site-menu__link(href='#').review__link
                .review__name.togis
                .review__rating 
      .row
        .col.socials.site-menu
          .site-menu__title.socials__title Мы в соцсетях
          ul.socials__list
            li.socials__item
              a.socials__link(href='#')
                .socials__item.vk
            li.socials__item
              a.socials__link(href='#')
                .socials__item.youtube
            li.socials__item
              a.socials__link(href='#')
                .socials__item.instagram
            li.socials__item
              a.socials__link(href='#')
                .socials__item.facebook
            li.socials__item
              a.socials__link(href='#')
                .socials__item.odnoklassniki
        .col-8.site-menu
          .site-menu__title Мы принимаем к оплате
          ul.payment
            li.payment__item
              .payment__icon.mastercard
            li.payment__item
              .payment__icon.visa
            li.payment__item
              .payment__icon.mir
            li.payment__item
              .payment__icon.yandex-money
  .footer__bottom
    .policy
      a.policy__link(href='#') Политика конфиденциальности
    .footer__info
      span.copyright © 2010-2020 Интернет-магазин мебели и товаров для дома.
      span.author Дизайн Asanov.agency