header.header
  .container-layout.header__container  
    .header__left
      .header__city-change.city-change Санкт-Петербург
      button.address Магазины
    .header__right
      a.header__telephone.telephone(href='tel:+70000000000') +7 (800) 555-44-33
      button.btn-callback.btn-rounter Обратный звонок