header.header
  .header__left
    .city-change Санкт-Петербург
    button.address Магазины
  .header__right
    a.telephone(href='tel:+70000000000') +7 (800) 555-44-33
    button.btn-callback.btn-rounter Обратный звонок