nav.nav
  .nav__header
    img.logo(src='./src/content/logo.png' alt='logo asanov')
  .nav__body.menu
    ul.menu__list
      li.menu__item Диваны и кресла
      li.menu__item Шкафы
      li.menu__item Мебель для кухни
      li.menu__item Гостинные
      li.menu__item Спальни
      li.menu__item Мебель для прихожей
      li.menu__item Детская мебель
      li.menu__item Столы и стулья
      li.menu__item Офисная мебель
      li.menu__item.menu__item--not-arrow Мебель из ротанга
      li.menu__item.menu__item--not-arrow Мебель премиум-класса
    ul.menu__list
      li.menu__item Условия покупки