extends ../layout/base

block variables
    - var title='Asanov';
    - var description='Сайт по продаже мебели';
    - var pageClass='index-page';

block content
  h1 hello world
  img(src="/assets/img/sea.jpg")
  +item('Заголовок', 'Описание')