/* Vars:
   ========================================================================== */

// Font
$mainFont                : 'Montserrat', Helvetica, Arial, sans-serif;

// Size
$mainFontColor           : #1A1A1A;
$mainFontSize            : 14px;
$mainFontWeight          : 400;
$mainLineHeight          : 1.7;

$desktopWidth            : 1280px;
$smDesktopWidth          : 1024px;
$tableWidth              : 768px;
$smTableWidth            : 640px;
$phoneWidth              : 480px;
$smPhoneWidth            : 320px;

/*
 All colors taken from:
 https://github.com/vedees/uimini
*/
 
// Main color
$color_White: #FFFFFF;
$color_Grey-fills: #F2F1F3;
$color_Grey-lines: #E6E4E7;
$color_Grey-text: #A2A0A3;
$color_Main-text: #1A1A1A;
$color_Light-pink: #FDEAF1;
$color_Pink: #EE2A74;
$color_Yellow: #F2C94C;
$color_Green_2: #27AE60;